<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Retaurant List</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{!-- <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Retaurant List</a>
      <form class="d-flex" role="search" action="/search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keywords"
          value="{{keywords}}">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav> --}}
  <!-- navigation -->
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
      </div>
    </nav>

    <div class="banner"></div>
  </header>
  {{{body}}}
  <script src="https://kit.fontawesome.com/087ca54388.js" crossorigin="anonymous"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>